# Container image
HAVENCORE_SERVER_IMAGE=ghcr.io/dr1s/havencore-server:latest
HAVENCORE_DBINIT_IMAGE=ghcr.io/dr1s/havencore-db-init:latest

# Database connection settings
DB_HOST=db
DB_PORT=3306
DB_USER=havencore
DB_PASSWORD=havencore
DB_ROOT_PASSWORD=havencore

# Optional: update the realmlist address when the worldserver IP changes
# WORLD_IP=192.168.1.10

# Optional: update the realmlist name
# WORLD_NAME=My Realm

# Optional volume names/paths
# DB_DATA_VOL=dbdata
# CLIENT_DATA_VOL=./data
